{% for name in upstream %}
{% set block = upstream[name] %}
upstream {{ name }} {
    server {{ block['server'] }};
}
{% endfor %}
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ server_name }};

    root /var/www/{{ server_name }};
    index index.html;
    try_files $uri /index.html;
}
